/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
    height: 50px;
    line-height: 50px;
}

.text-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text{
    width: 1000px;
    height: 30px;
}

section{
    max-width: 1080px;
    margin: 0 auto;
}

.list{
    list-style-type: none;
    text-align: center;
}

li{
    margin: 20px 0;
    border: 1px solid black;
    font-size: 42px;
    background-color: white;
}